.front-menu {
  position: absolute;
  height: 80vh;
  overflow-y: auto !important;
  min-width: 30rem;
}

.front-menu-content {
  margin: 1rem;
}

.front-menu-header {
  display: flex;
}

.front-menu-header > Button {
  margin-left: auto;
}
