* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
}

.hidden {
  visibility: collapse;
}

.full-screen {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.full-width {
  width: 100%;
}

.thumbnail {
  background: rgba(230, 230, 230, 0.7);
  padding: 10px;
  border-radius: 100%;
  border: 5px solid white;
  pointer-events: all;
  transition: background-color 0.2s ease-in-out;
}

.thumbnail:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

/* Remove arrows from number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
